 /* Define standard variables and values for website */
 $bgcolor: rgb(13, 109, 141);
 $textcolor: rgb(127, 0, 139);
 $fontsize: 28px;
 
 /* Use the variables */
 body {
   background-color: $bgcolor;
   color: $textcolor;
   font-size: $fontsize;
 } 